.wrap{
    position: relative;
    background: url(../images/pokara.jpeg) no-repeat;
    background-size: cover;
    background-position: 0 40%;
    height: 60vh;
    width: 100%;

    //
    .wrap_{

    }
}