.ul, li{
    margin: 0;
	padding: 0;
    list-style-type: none;
}

// ---header--- //
.header_wrap{
    .content{
        padding: 0;
        margin: 0;
        padding: 0 15vh;
    }
    .site-heading{
        margin: 1vh 0;
        color: black;
        display: flex;
        justify-content: left;
        align-items: baseline;
    }
    .site-heading h1{
        margin: 0;
    }
    .site-heading span{
        font-size: 30px;
        margin-left: 3vw;
    }
}
// ---header end--- //

// ---nav--- //
.nav_wrap{
    margin: 0;
    padding: 0;
    position:sticky;
    top:0;
    z-index: 100;
    .content{
        margin: 0;
        padding: 0;
    }
    .navbar{
        padding-left: 10vw;
    }
    .navbar a{
        font-size: 1.5rem;
    }
    .nav{
        // margin-left: 1vw;
    }
    .nav a{
        margin-left: 3vw;
        font-size: 1.5rem;
    }
    .navDropdown a{
        margin-left: 0;
        font-size: 1rem;
    }
}

.nav a {
    font-size: larger;
}
// ---nav end--- //

// ---footer--- //
.footer_wrap{
    background-color:#343a40;
    height: 5rem;
    margin-top: 1rem;
    .content{
        padding: 0;
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .site-footing{
        margin: 1vh 0 0 0;
        padding-top: 25px;
        color: black;
    }
    .site-footing p{
        font-size: 15px;
        color: white;
        margin: 0;
    }
}
// ---footer end--- //

// ---sidebar--- //
.sidebar_wrap{
    font-size: large;
    border-left: #343a40;
    padding-bottom: 20px;
    position:sticky; //スクロール時固定
    top:5rem; //いい感じの位置
    z-index: 100;
    .ul{
        border-left:1px solid #ececec;
        padding-left: 20px;
    }
    .ul li{
        margin-bottom: 20px;
    }
}
// ---sidebar end--- //